<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Grace"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".CadastroActivity"
            android:exported="false"
            android:label="@string/titulo_cadastro"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/titulo_login"
            android:theme="@style/Theme.Grace">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SobreActivity"
            android:exported="false"
            android:label="@string/titulo_sobre_nos"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".ContatoActivity"
            android:exported="false"
            android:label="@string/titulo_duvidas"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".ConsultaActivity"
            android:exported="false"
            android:label="@string/titulo_consulta"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:label="@string/titulo_admin"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".NovaDoacaoActivity"
            android:exported="false"
            android:label="Nova Doação" />

        <activity
            android:name=".GerenciarDoacoesActivity"
            android:exported="false"
            android:label="@string/titulo_gerenciar_doacoes"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".MuralNecessidadesActivity"
            android:exported="false"
            android:label="@string/titulo_mural_necessidades"
            android:theme="@style/Theme.Grace" />

        <activity
            android:name=".SolicitacoesAdminActivity"
            android:exported="false"
            android:label="Gerenciar Entregas"
            android:theme="@style/Theme.Grace" />


    </application>

</manifest>